@model admin_cms.Models.Domino.Entidades.Pagina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pagina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaRestrita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaRestrita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Home)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Home)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
